<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="<%=csrf_token%>" name="csrf-token" />
  <meta content="<%=username%>" name="username" />
  <meta content="<%=session%>" name="session"/>
  <!--  Bootstrap(s)  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!--  Jquery link(s)  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!--  React.js libraries  -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <!-- Font awesome kit  -->
  <script src="https://kit.fontawesome.com/b82b391bad.js" crossorigin="anonymous"></script>
  <!--  My CSS and JS  -->
  <link rel="stylesheet" href="./assets/css/index.css">
  <script type="text/jsx" src="./assets/js/react-comps.js"></script>
  <script type="text/jsx" src="./assets/js/main.js"></script>
  <title>Fire 🔥 - Board</title>
</head>
<body>
  <div class="modal"></div>
  <div id="header"></div>
  <script type="text/jsx">ReactDOM.render(<Header/>,document.getElementById("header"))</script>
  <% for(var i in collect){%>
    <script>
      $(document).ready(() => {
        var c = document.getElementById("<%=collect[i]['parent']%>");
        var card = document.createElement("DIV");
        card.className = "card";
        card.textContent = "<%=collect[i]['card_name']%>";
        console.log("<%=collect[i]['card_name']%>");
        for (var i in c.children) {
          if (c.children[i].id == "<%=collect[i]['parent']%>".concat("-list")) {
            c.children[i].appendChild(card)
          }
        }
      })
    </script>
    <%}%>
  <div class="container-fluid">
    <div class="list-container" id="to-do">
      <h5>To-Do</h5>
      <div class="list" id="to-do-list"></div>
      <div class="add-card"><i class="fas fa-plus"></i>Add card</div>
    </div>
    <div class="list-container" id="in-progress">
      <h5>In-progress</h5>
      <div class="list" id="in-progress-list"></div>
      <div class="add-card"><i class="fas fa-plus"></i>Add card</div>
    </div>
    <div class="list-container" id="done">
      <h5>Done</h5>
      <div class="list" id="done-list"></div>
      <div class="add-card"><i class="fas fa-plus"></i>Add card</div>
    </div>
  </div>
</body>